<div class="w-full bg-red-800 p-3 py-10">
  <h1 class="text-center text-5xl font-semibold text-white">Education</h1>
  <div class="flex justify-center items-center mt-5">
    <div class="bg-white rounded-md flex overflow-hidden">
      <div>
        <img class="h-165" src="images/sablay.JPG" alt="graduate image" />
      </div>
      <div class="px-5">
        <div class="flex justify-center items-center">
          <div class="bg-white rounded-md px-5 py-3 mt-5">
            <img src="images/icons/lpu-icon.png" class="h-30 rounded-md" />
          </div>
          <div class="px-4">
            <h1 class="font-semibold text-3xl text-center mt-5">
              Lyceum of the Philippines University - Cavite
            </h1>
            <h1 class="text-lg text-center mt-5">
              Bachelor of Science in Computer Science A.Y 2021 - 2025
            </h1>
          </div>
        </div>

        <div class="flex flex-col justify-center gap-3">
          <div class="bg-red-800 text-white rounded-md p-3">
            <h1 class="text-lg font-semibold mb-2">Honors & Awards</h1>
            <ul class="list-disc list-inside space-y-1">
              <li>Dean's Lister A.Y 2021 - 2024</li>
            </ul>
          </div>

          <div class="bg-red-800 text-white rounded-md p-3">
            <h1 class="text-lg font-semibold mb-2">
              Extracurricular Activities
            </h1>
            <ul class="list-disc list-inside space-y-1">
              <li>Participated in 11<sup>th</sup> IT Skills Olympics (Java)</li>
              <li>Participated in 13<sup>th</sup> IT Quiz Bee</li>
              <li>
                Participated in 11<sup>th</sup> iSite Inc. Programming
                Competition 2024 (Python)
              </li>
            </ul>
          </div>

          <div class="bg-red-800 text-white rounded-md p-3">
            <h1 class="text-lg font-semibold mb-2">
              Certifications & Training
            </h1>
            <ul class="list-disc list-inside space-y-1">
              <li>Operating Systems Basics by Cisco Networking Academy</li>
              <li>Networking Basics by Cisco Networking Academy</li>
              <li>Philippine Coding Camp 2-Day Data Science Workshop</li>
              <li>SAP Business One - Fit Academy</li>
              <li>IT Specialist Certification in Databases - Certiport</li>
              <li>IT Specialist Certification in Python - Certiport</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
