

:root{
  --dark-purple: #2b142e;
  --light-purple: #DDAEED;
  --button-purple: #bb85cd;
  --red: #B72929;
  --text-color: white;
  --border-radius: 10px;
  --title-size: 3.7rem;
}

@font-face{
  font-family: Inter;
  src: url('../fonts/Inter_Regular.ttf');
}


*{
  padding: 0;
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
}

body{
  background-image: url("/images/mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


nav{
  top: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  gap: clamp(10px, 5vw , 80px);
  padding: 1rem;
  /* background: green; */
  background-color: var(--dark-purple); 
  /* position: sticky; */
}


nav p {
  line-height: 3.5rem;  
}

.my-logo{
  width: 3.5rem;
  height:3.5rem;
}

nav a{
  color: var(--text-color);
  font-weight: bold;
}

.contact-btn{
  background: linear-gradient(to right, var(--red) -20%, black 300%);
  padding: .3rem .5rem;
  border-radius: 3px;
}

#navmenu-btn{
  line-height: 2.5rem;
  display: none;
  color: white;
  cursor: pointer;
}
.mobile-nav{
  position: fixed;
  width: 100%;
  text-align: center;
  height: 100vh;
  margin-top: 50px;
  background: var(--dark-purple);
  left: -100%;
}

.mobile-nav li{
  margin-top: .6rem;
  padding: .5rem;
}

#toggle-switch{
  display: none;
}

header{
  display: flex;
  /* background-color: var(--dark-purple); */
  background-color: var(--dark-purple);
  padding: 2rem 1rem;
  padding-bottom: 10rem;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
  justify-content: center;
  gap: 2rem;
}

.header-image{
  border-radius: var(--border-radius);
  width: 400px;
  height: 500px;
}


.header-desc h1, .header-desc h1 span{
  color: var(--text-color);
  font-size: var(--title-size);
  margin-top: 1.3rem;
  line-height: 3.5rem;
  margin-bottom: 1.6rem;
}

.header-desc p{
  font-size: 2rem;
  line-height: 3rem;
}


.header-desc h1 span{
  color: var(--light-purple);
}

.header-desc p{
  color: var(--text-color);
}

.dl-btn{
  font-weight: bold;
  margin-top: 3rem;
  padding: .5rem 1.5rem;
  color: white;
  background: linear-gradient(to right, var(--button-purple) -20%, black 300%);
  cursor: pointer;
}

.about-section{
  margin-top: 4.3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: white;
  margin-bottom: 50px;
  margin-right: 50px;
}

.about-text{
  border-radius: var(--border-radius);
  background-color: var(--dark-purple);
  padding: 1.5rem 2rem;
  width: 500px;
}

.about-text h1{
  font-size:2rem;
  margin-bottom: 1.5rem;
}

.about-text p{
  line-height: 1.8rem;
}

.about-section img{
  width: 450px;
  height: 500px;
  border-radius: var(--border-radius);
}

.rose-border{
  text-align: center;
}

footer{
  background-color: var(--dark-purple);
  text-align: center;
  color: var(--text-color);
  padding: 2rem;
}

footer h1, footer h1 span{
  font-size: 2.5rem;
}

footer h1 span{
  color: var(--light-purple);
}

footer p{
  line-height: 3rem;
}

footer p a{
  text-decoration: underline;
}
.media-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.media-links a {
  color: var(--text-color);
  font-weight: bold;
}
.media-links p img{
  vertical-align: middle;
}

@media(max-width: 800px){

  nav{
    justify-content: space-between;
  }

  .nav-links-desktop{
    display: none;
  }

  .mobile-nav{
    transition: all .5s ease;
  }

  #navmenu-btn{
    display: inline;
  }

  #toggle-switch:checked ~ .mobile-nav{
    left: 0;
  }

  .contact-btn{
    border-radius: 0;
  }
}

