<div class="fixed flex justify-center items-center p-3 w-full z-50">
  <div
    class="flex gap-2 text-md px-5 py-3 rounded-full bg-gray-600/40 backdrop-blur-md text-white"
  >
    <div class="bg-blue-200 rounded-full px-3 py-1 text-black cursor-pointer">
      <a href="#intro-section">Me</a>
    </div>
    <div class="rounded-full px-3 py-1 cursor-pointer">
      <a href="#projects-section">Projects</a>
    </div>
    <div class="rounded-full px-3 py-1 cursor-pointer">
      <a href="#skills-section">Skills</a>
    </div>
    <div class="rounded-full px-3 py-1 cursor-pointer">
      <a href="#education-section">Education</a>
    </div>
    <div class="rounded-full px-3 py-1 cursor-pointer">
      <a href="#certificates-section">Certificates</a>
    </div>
    <div class="rounded-full px-3 py-1 cursor-pointer">
      <a href="#journey-section">Journey</a>
    </div>
    <!-- <a>Bio</a>
    <a>Projects</a>
    <a>Skills</a>
    <a>Experience</a>
    <a>Contact</a> -->
  </div>
</div>
