<div class="flex justify-center items-center p-3 absolute w-full z-50">
  <div class="flex gap-2 text-md px-5 py-3 rounded-full bg-gray-200">
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Me</a>
    </div>
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Bio</a>
    </div>
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Projects</a>
    </div>
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Experience</a>
    </div>
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Skills</a>
    </div>
    <div class="bg-blue-200 rounded-full px-3 py-1">
      <a>Contact</a>
    </div>
    <!-- <a>Bio</a>
    <a>Projects</a>
    <a>Skills</a>
    <a>Experience</a>
    <a>Contact</a> -->
  </div>
</div>
