<div class="fixed flex justify-center items-center p-3 w-full z-50">
  <div
    class="flex gap-2 text-md px-5 py-3 rounded-full bg-gray-700/40 backdrop-blur-md text-white"
  >
    <a
      class="rounded-full px-3 py-1 hover:bg-gray-600 hover:text-white cursor-pointer"
      [class]="viewedComponent == 'intro-section' ? 'bg-gray-800' : ''"
      href="#intro-section"
      >Me</a
    >

    <a
      class="rounded-full px-3 py-1 hover:bg-gray-600 hover:text-white cursor-pointer"
      [class]="viewedComponent == 'projects-section' ? 'bg-gray-800' : ''"
      href="#projects-section"
      >Projects</a
    >

    <a
      class="rounded-full px-3 py-1 hover:bg-gray-600 hover:text-white cursor-pointer"
      [class]="viewedComponent == 'skills-section' ? 'bg-gray-800' : ''"
      href="#skills-section"
      >Skills</a
    >

    <a
      class="rounded-full px-3 py-1 hover:bg-gray-600 hover:text-white cursor-pointer"
      [class]="viewedComponent == 'certificates-section' ? 'bg-gray-800' : ''"
      href="#certificates-section"
      >Certificates</a
    >

    <a
      class="rounded-full px-3 py-1 hover:bg-gray-600 hover:text-white cursor-pointer"
      [class]="viewedComponent == 'experience-section' ? 'bg-gray-800' : ''"
      href="#experience-section"
      >My Journey</a
    >
    <!-- <a>Bio</a>
    <a>Projects</a>
    <a>Skills</a>
    <a>Experience</a>
    <a>Contact</a> -->
  </div>
</div>
