<div
  id="experience-section"
  class="app-section w-full flex justify-center items-center min-h-screen relative"
>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="w-full">
    <h1
      class="text-center text-5xl font-bold"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      My Journey
    </h1>

    <div class="grid md:grid-cols-1 lg:grid-cols-2 mt-5 p-3">
      <!-- Education -->
      <div class="" data-aos="fade-down" data-aos-duration="1000">
        <h1 class="text-center font-bold text-3xl">Education</h1>

        <div class="flex flex-wrap p-3 gap-2">
          <!-- Cards Collection -->
          <div class="flex-1">
            <div class="bg-gray-50 rounded-md p-5">
              <h1 class="text-2xl font-semibold">
                Lyceum of the Philippines University - Cavite
              </h1>
              <p>2021 - 2025</p>

              <h1 class="text-lg font-semibold mb-2">Honors & Awards</h1>
              <ul class="list-disc list-inside space-y-1">
                <li>Dean's Lister A.Y 2021 - 2024</li>
              </ul>
              <h1 class="text-lg font-semibold mb-2">
                Extracurricular Activities
              </h1>
              <ul class="list-disc list-inside space-y-1">
                <li>
                  Participated in 11<sup>th</sup> IT Skills Olympics (Java)
                </li>
                <li>
                  Participated in 11<sup>th</sup> iSite Inc. Programming
                  Competition 2024 (Python)
                </li>
                <li>
                  Participated in 13<sup>th</sup> IT Skills Olympics (Quiz Bee)
                </li>
              </ul>
              <h1 class="text-lg font-semibold mb-2">
                Certifications & Training
              </h1>
              <ul class="list-disc list-inside space-y-1">
                <li>Operating Systems Basics by Cisco Networking Academy</li>
                <li>Networking Basics by Cisco Networking Academy</li>
                <li>Philippine Coding Camp 2-Day Data Science Workshop</li>
                <li>SAP Business One - Fit Academy</li>
                <li>IT Specialist Certification in Databases - Certiport</li>
                <li>IT Specialist Certification in Python - Certiport</li>
              </ul>
            </div>
          </div>
          <div class="hidden lg:flex flex-col justify-center items-center">
            <div class="w-1 flex-1 bg-gray-800"></div>
            <div class="bg-gray-800 w-4 h-4 rounded-full"></div>
            <div class="w-1 flex-1 bg-gray-800"></div>
          </div>
        </div>
      </div>
      <!-- Work -->
      <div class="" data-aos="fade-down" data-aos-duration="1000">
        <h1 class="text-center font-bold text-3xl">Work</h1>

        <div class="flex p-3 gap-2">
          <!-- Cards Collection -->
          <div class="flex-1">
            <div class="bg-gray-50 rounded-md p-5">
              <h1 class="text-2xl font-semibold">LeenTech Network Solutions</h1>
              <p>July 2024 - August 2024</p>

              <ul class="list-disc list-inside space-y-1">
                <li>
                  Contributed as a backend developer in a team of five for the
                  rapid development of Airis, an AI-powered smartbot system
                  featuring multiple personas with specialized functionalities.
                </li>
                <li>
                  Developed and maintained backend services using the Next.js
                  framework, integrated with Vercel database services.
                </li>
                <li>
                  Implemented OpenAI GPT-4o and DALL·E API integration to enable
                  intelligent dialogue generation and AI-powered image creation.
                </li>
                <li>
                  Assisted in prompt engineering to optimize chatbot responses
                  and align outputs with intended personas.
                </li>
                <li>
                  Collaborated with the team to ensure system scalability,
                  performance, and seamless deployment.
                </li>
              </ul>
            </div>
          </div>
          <div class="hidden lg:flex flex-col justify-center items-center">
            <div class="w-1 flex-1 bg-gray-800"></div>
            <div class="bg-gray-800 w-4 h-4 rounded-full"></div>
            <div class="w-1 flex-1 bg-gray-800"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /*
<div class="flex flex-col justify-center items-center">
  <div class="w-0.5 flex-1 bg-blue-800"></div>
  <div class="bg-blue-800 w-3 h-3 rounded-full"></div>
  <div class="w-0.5 flex-1 bg-blue-800"></div>
</div>
*/ -->
