<div
  id="intro-section"
  class="app-section w-full py-30 flex flex-col justify-center items-center relative"
>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- Top Layer -->
  <div class="flex p-5 flex-col gap-5 lg:flex-row">
    <!-- Left Container -->

    <div
      class="flex-1 flex flex-col justify-center items-center relative"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div
        class="aspect-square min-w-70 w-full max-w-100 border-gray-600 rounded-full relative group"
      >
        <img
          src="/images/formal.JPG"
          class="w-full h-full rounded-full absolute top-0 left-0 object-cover object-top z-1 group-hover:opacity-0 transition-opacity duration-300 ease-in-out"
          alt="Profile picture"
        />
        <img
          src="/images/sablay.JPG"
          class="w-full h-full rounded-full absolute top-0 left-0 object-cover object-top transition-opacity duration-300 ease-in-out"
          alt="Profile picture"
        />
      </div>
      <div class="flex flex-col justify-center mt-5">
        <div class="flex justify-center">
          <button
            class="bg-gray-800 cursor-pointer rounded-md text-white py-3 px-5 transition-all ease-in-out hover:"
            (click)="downloadResume()"
          >
            Download My Resume
          </button>
        </div>
      </div>
      <!-- <h1 class="text-5xl font-semibold mt-3">DEVELOPER</h1>
      <button>Download My Resume</button> -->
    </div>

    <div
      class="flex-1 max-w-300 flex-col justify-center text-center mt-10 lg:mt-0 lg:text-left pl-2 lg:flex"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <h1 class="text-7xl">
        Hi! I'm
        <span class="text-blue-800 font-bold">John Carlo</span>
      </h1>
      <h1 class="mt-5 text-5xl font-semibold">Developer & Programmer</h1>

      <p class="mt-5 text-base sm:text-lg md:text-xl lg:text-2xl">
        I graduated with a Bachelor of Science in Computer Science from Lyceum
        of the Philippines University – Cavite. As an aspiring developer, I am
        passionate about building scalable and user-friendly web applications.
        With hands-on experience in full stack development, API design, and
        database management, I enjoy transforming complex ideas into clean,
        functional solutions.
      </p>

      <div class="flex justify-center lg:justify-start flex-wrap gap-5 mt-5">
        <a
          href="https://www.linkedin.com/in/john-carlo-sabenorio-732259244/"
          target="_blank"
        >
          <div class="bg-white rounded-md flex gap-3 items-center p-1 px-5">
            <p class="text-xl font-semibold">LinkedIn</p>
            <img
              class="w-15 h-15"
              src="images/icons/linkedin.png"
              alt="LinkedIn"
            />
          </div>
        </a>
        <a href="mailto:johncarlosabenorio07@gmail.com" target="_blank">
          <div class="bg-white rounded-md flex gap-3 items-center p-1 px-5">
            <p class="text-xl font-semibold">Gmail</p>
            <img class="w-15 h-15" src="images/icons/gmail.png" alt="Gmail" />
          </div>
        </a>

        <a href="https://github.com/JohnCarloSabenorio" target="_blank">
          <div class="bg-white rounded-md flex items-center gap-3 p-1 px-5">
            <p class="text-xl font-semibold">GitHub</p>
            <img class="w-15 h-15" src="images/icons/github.png" alt="Github" />
          </div>
        </a>
      </div>
    </div>

    <!-- Image Container  -->
    <!-- Right Container -->
  </div>
</div>
