<div
  id="skills-section"
  class="app-section max-w-full flex flex-col justify-center items-center py-30 relative"
>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <h1
    class="text-5xl text-center font-bold"
    data-aos="zoom-in"
    data-aos-duration="500"
  >
    Skills
  </h1>

  <div
    class="bg-gray-50 rounded-2xl overflow-hidden mt-5 transition-all w-full sm:w-fit duration-300"
    data-aos="zoom-in"
    data-aos-duration="500"
  >
    <!-- Categories -->

    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select your country</label>
      <select
        id="tabs"
        (change)="changeSelectedCategoryEvent($event)"
        [value]="selectedCategory"
        class="bg-gray-50 py-5 borderborder-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option *ngFor="let key of categoryKeys" [value]="key">
          {{ categories[key] }}
        </option>
      </select>
    </div>
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow-sm sm:flex dark:divide-gray-700 dark:text-gray-400"
    >
      <ng-container *ngFor="let key of categoryKeys">
        <li class="w-full focus-within:z-10">
          <a
            class="inline-block w-full p-4 hover:bg-gray-400 text-gray-900 bg-gray-100 cursor-pointer focus:ring-4 focus:ring-blue-300 active focus:outline-none"
            [class]="
              selectedCategory == key
                ? 'bg-gray-400 text-white'
                : 'bg-gray-700 text-white'
            "
            aria-current="page"
            (click)="changeSelectedCategory(key)"
            >{{ categories[key] }}</a
          >
        </li>
      </ng-container>
    </ul>

    <!-- Badges -->
    <div class="flex justify-center">
      <div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 1 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[1]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 2 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[2]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 3 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[3]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 4 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[4]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 5 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[5]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 6 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[6]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
        <div
          class="grid gap-5 mt-8 mx-auto w-full max-w-[900px] px-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 place-items-center transition-all duration-300 min-h-[250px]"
          [class]="selectedCategory == 7 ? 'block' : 'hidden'"
        >
          <ng-container *ngFor="let skill of allSkills[7]">
            <app-badge
              [image]="skill.image"
              [alt]="skill.alt"
              [label]="skill.title"
            />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
