<div
  id="skills-section"
  class="app-section max-w-full flex flex-col justify-center items-center h-screen"
>
  <h1 class="text-5xl text-center font-bold">Skills</h1>

  <div class="bg-gray-400 rounded-md overflow-hidden max-w-300 mt-5">
    <!-- Categories -->
    <div class="flex flex-wrap justify-evenly w-full gap-3 bg-gray-800 p-5">
      <ng-container *ngFor="let key of categoryKeys">
        <app-category
          [label]="categories[key]"
          [categoryIndex]="key"
          [selectedCategory]="selectedCategory"
          (clickEvent)="changeSelectedCategory($event)"
        />
      </ng-container>
    </div>
    <!-- Badges -->
    <div class="flex justify-center">
      <!-- <div
        class="grid gap-5 mt-8 mx-auto grid-cols-[repeat(auto-fit,minmax(150px,1fr))] max-w-[900px]"
      > -->
      <div class="flex justify-center flex-wrap gap-5 mt-8 mx-auto">
        <ng-container *ngFor="let skill of allSkills[selectedCategory]">
          <app-badge
            [image]="skill.image"
            [alt]="skill.alt"
            [label]="skill.title"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>
