<!-- Navigation Bar -->

<div>
  <app-navbar [viewedComponent]="viewedComponent"></app-navbar>
  <div class="w-full flex justify-center items-center flex-col">
    <div class="w-fit flex flex-col">
      <!-- Hero Section -->
      <app-intro></app-intro>
      <!-- Projects Section -->
      <app-projects></app-projects>
      <!-- Skills Section -->
      <app-skills></app-skills>
      <app-certificates></app-certificates>
      <!-- Experience Section -->
      <app-experience></app-experience>
    </div>
  </div>
  <app-footer></app-footer>
</div>
